<h1>WORD HIT & BLOW</h1>
<div id="homeWord" class="home-word" onclick="openSelect()">CLICK to START</div>
<div id="selectLv" class="select-lv">
  <p class="home-word">SELECT LEVEL</p>
  <ul>
    <li><a href="/play/easy">easy</a></li>
    <li><a href="/play/normal">normal</a></li>
    <li><a href="/play/hard">hard</a></li>
  </ul>
</div>