<div class="main-content">
  <h2 class="section-title">ゲームを始める</h2>
  <ul class="home-select-lv">
    <li><a href="/play/easy">Easy</a></li>
    <li><a href="/play/normal">Normal</a></li>
    <li><a href="/play/hard">Hard</a></li>
  </ul>
</div>

<div class="main-content">
  <h2 class="section-title">ランキング</h2>
  <ul class="home-rank">
    <li>
      <div>Easy 1位：</div>
      <div>Alice</div>
    </li>
    <li>
      <div>Normal 1位：</div>
      <div>木乃</div>
    </li>
    <li>
      <div>Hard 1位：</div>
      <div>はなやまた</div>
    </li>
  </ul>
  <div class="home-rank-link">
    <a href="/rank">ランキング一覧へ</a>
  </div>
</div>

<div class="main-content">
  <h2 class="section-title">ルール</h2>
  <div class="home-rule">
    <h3>相手が決めた4文字の英単語を推測するゲーム</h3>
    <ol>
      <li>プレイヤーは、4文字のアルファベットをコールする</li>
      <li>それに対して、相手から「2Hit 1Blow」のような返答をもらう</li>
      <ul>
        <li>Hitとは、そのアルファベットが使われていて、位置も正しいこと</li>
        <li>Blowとは、そのアルファベットは使われているが、位置は違うこと</li>
      </ul>
      <li>プレイヤーは1と2を繰り返して情報を集めていく</li>
      <li>最終的に、4Hitにする、つまり相手の単語を完璧に当てればゲームクリア</li>
    </ol>
  </div>
  <div class="home-rule">
    <img src="/images/rule-explanation1.png" alt="explanation image 1">
    <img src="/images/rule-explanation2.png" alt="explanation image 2">
  </div>
  <div class="home-rule">
    <h3>詳細ルール</h3>
    <ol>
      <li>同じアルファベットを含む英単語は使用禁止</li>
      <ul>
        <li>「loop」や「test」などはダメ！</li>
      </ul>
      <li>略称や大文字から始まる単語は禁止</li>
      <ul>
        <li>「OECD」や「July」などはダメ！</li>
      </ul>
      <li>コールする文字列は存在しない英単語でもよい</li>
      <ul>
        <li>「aiue」や「pswd」などもOK！</li>
      </ul>
    </ol>
  </div>
</div>