<div>HIGH SCORE</div>
<div>
  <p><%= msg %></p>
</div>
<div>
<% for (var i = 0; i < content.length; i++) { %>
  <div>
    <span><%= content[i] %></span>
    <span><%= content1[i] %></span>
    <span><%= content2[i] %></span>
  </div>
<% } %>
</div>

<form method="POST" action="./game/clear">
  <input type="text" value="NoName" name="uName">
  <input type="submit" value="SEND">
</form>