<div class="play-main">
  <div>
    <p><%= msg %></p>
  </div>
  <div class="play-list play-list0">
    <span>WORD</span>
    <span>HIT</span>
    <span>BLOW</span>
  </div>
  <% for (var i = 0; i < content.length; i++) { %>
    <div class="play-list">
      <span><%= content[i] %></span>
      <span><%= content1[i] %></span>
      <span><%= content2[i] %></span>
    </div>
  <% } %>
  <div>
    <a href="/rank">ランキング</a>
    <a href="/">ホーム</a>
  </div>
</div>