<div class="rule-sec">
  <h2>基本ルール</h2>
  <ol>
    <li>プレイヤーは、4文字のアルファベットをコールします</li>
    <li>それに対して、相手プレイヤーから例えば「２Hit 1Blow」のような返答をもらいます<br>
      Hit数は、使われていて位置も正しいアルファベットの数を表しています<br>
      Blow数は、使われているが位置は違うアルファベットの数を表しています
    </li>
    <li>プレイヤーは1と2を繰り返して情報を入手していきます</li>
    <li>最終的に、４Hit、つまり相手プレイヤーの指定した単語を正確に当てればゲームクリアです</li>
  </ol>
</div>
<div class="rule-sec">
  <h2>例</h2>
</div>
<div class="rule-sec">
  <h2>詳細ルール</h2>
  <ul>
    <li>同じアルファベットを含む英単語は指定できません<br>
      「loop」や「test」などをプレイヤーがコールしたり、相手プレイヤーが答えに設定することはできません
    </li>
    <li>略称や大文字から始まる単語を相手プレイヤーが答えに設定することはできません<br>
      「OECD」や「July」など
    </li>
    <li>
      プレイヤーがコールする4文字のアルファベットは、存在しない英単語でも大丈夫です<br>
	    「aiue」や「pswd]など
    </li>
  </ul>
</div>
<div class="rule-sec">
  <h2>その他</h2>
  <ul>
    <li>本サイトでは、「相手プレイヤー」はCPUとなっています</li>
    <li>「easy」「normal」「hard」の3つのレベル分けは、作成者の独断と偏見によってなされています</li>
    <li>英単語は、<a href="https://kujirahand.com/web-tools/EJDictFreeDL.php">こちらのサイト</a>で配布されているものを利用しています</li>
  </ul>
</div>