/* 初期化 */
body,
header,
main,
footer,
div,
nav,
p,
a,
h1,
h2,
h3,
ul,
ol,
li,
form,
input,
span {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

a,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
}

main {
  display: block;
}

ul,
ol {
  list-style: none;
}



/* 共通 */
body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  width: 100%;
}



/* 共通 - header */
header {
  display: flex;
  height: 60px;
  width: 100%;
}

.header-title {
  color: #801E6C;
  font: lighter 2em 'Segoe Script', sans-serif;
  padding: 10px;
}

.header-menu-btn {
  cursor: pointer;
  height: 30px;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 10;
}

.header-menu-btn div {
  background-color: #bbbbbb; 
  height: 5px;
  margin-bottom: 5px;
  transition: .8s;
  width: 100%;
}

.opened div {
  background-color: #ffffff;
  transition: .8s;
}

.opened div:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}

.opened div:nth-child(2) {
  opacity: 0;
}

.opened div:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

.header-menu-li {
  animation: hideMenu 1s;
  background-color: #bbbbbb;
  display: none;
  font-size: 2em;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 0;
  width: 150px;
  z-index: 0;
}

.header-menu-li a {
  color: #ffffff;
  font-weight: bold;
}

.header-menu-li ul li a:hover {
  color: #801E6C;
  transition: .5s;
}

.header-menu-li ul li {
  height: 40px;
  padding: 20px 10px 0 0;
  text-align: right;
}

@keyframes showMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active-head-menu {
  animation: showMenu 1s;
  display: block;
}



/* 共通 - main */
main {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  width: -webkit-calc(100% - 20px);
  width: calc(100% -20px);
}

@media screen and (min-width: 960px) {
  main {
    width: 80%;
  }
}

.main-content {
  margin: 0 auto;
  margin-top: 75px;
}

.section-title {
  border-left: solid 5px #801E6C;
  color: #801E6C;
  font-size: 1.5em;
  padding-left: 10px;
}

/* 共通 - footer */



/* home.ejs */

.home-select-lv {
  margin-top: 50px;
}

.home-select-lv {
  display: flex;
  justify-content: space-around;
}

.home-select-lv li {
  border: solid 1px #801E6C;
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
  width: 25%;
}

.home-select-lv li a {
  color: #801E6C;
}

.home-rank {
  display: block;
  margin-top: 50px;
}

@media screen and (min-width: 960px) {
  .home-rank {
    display: flex;
    justify-content: space-around;
  }
}

.home-rank li {
  display: flex;
  font-size: 1.2em;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 960px) {
  .home-rank li {
    width: 25%;
  }
}

.home-rank li:nth-child(2),
.home-rank li:nth-child(3) {
  padding-top: 20px;
}

@media screen and (min-width: 960px) {
  .home-rank li:nth-child(2),
  .home-rank li:nth-child(3) {
    padding-top: 0;
  }
}

.home-rank li div:nth-child(1) {
  width: 150px;
}

.home-rank-link {
  margin-top: 50px;
  text-align: center;
}

.home-rank-link a {
  border-bottom: solid 1px #801E6C;
  color: #801E6C;
}



/* play.ejs */
.play-main {
  margin: 0 auto;
  width: 90%;
}

.ans-form {
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.play-list {
  width: 100%;
  display: flex;
}

.play-list0 {
  font-weight: bold;
}

.play-list span {
  width: 30%;
  margin-right: 3%;
  margin-bottom: 5px;
  display: block;
}



/* rank.ejs */
.rank-main {
  width: 90%;
  margin: 0 auto;
}

.rank-content {
  margin-bottom: 50px;
}



/* rule.ejs */
.rule-sec {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.rule-sec ol {
  list-style-type: decimal;
}

.rule-sec ul li a {
  border-bottom: 1px solid #000000;
}